{% extends "master.html" %}
{% block title %}Assigned Tasks{% endblock %}
{% block content %}

<div class="container py-4">
    <h2 class="mb-4 fw-bold">Assigned Tasks</h2>

    {% if tasks %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped align-middle">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Created At</th>
                    <th>Status</th>
                    
                </tr>
            </thead>

            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.request_id }}</td>
                    <td>{{ task.category }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.created_at|date:"M d, Y H:i" }}</td>
                    <td>
                       <span class="badge 
    {% if task.status == 'PENDING' %} bg-warning
    {% elif task.status == 'IN_PROCESS' %} bg-info
    {% elif task.status == 'COMPLETED' %} bg-success
    {% endif %}">
    {{ task.status }}
</span>

                    </td>
                    


                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p class="text-muted">No tasks assigned yet.</p>
    {% endif %}
</div>

{% endblock %}
